html {
  height: 100%;
  background-color: rgb(252, 232, 120) !important;
}

html[data-theme='dark'] {
  background-color: #2a2a3c !important;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(252, 232, 120);
}

body[data-theme="dark"] {
  background-color: #2a2a3c;
}


.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

#panel {
  position: relative;
  top: 10%;
  left: 0%;
  z-index: -6;
  background-color: rgba(212, 0, 0, 0.664);
  /* padding: 5px; */
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  /* padding-left: 10px; */
}

#formControlRange
{
  width: 100px;
}
#formControlRange0
{
  margin-top: 0.6%;
  height: 40px;
}

.open {
  width: 250px;
}

.alert {
  font-family: 'open sans', arial, sans-serif;
  position: relative;
  font-size: 1.6em;
  font-weight: 500;
  margin-block-end: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.alertContent {
  color: rgb(73, 2, 2);
  font-family: 'open sans', arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  /* margin-block-start: 0.25em; */
  padding-left: 18px;
  padding-right: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alert li {
  font: 200 30px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid rgb(0, 0, 0);;
}

.alert li:last-child {
  border: none;
}

.alert li:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.map_wrapper {
  margin-top: 50px;
  position: relative;
  border: solid 1px rgb(0, 0, 0);
  width: 80%;
  margin: 0px auto;
  height: 60%;
}

.container {
  position: relative;
  background: rgba(192, 247, 244, 0.616);
}


[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .nav-link {
  color: #eee !important;
}

[data-theme="dark"] .text-dark {
  color: #eee !important;
}

[data-theme="dark"] .navbar-brand {
  color: #eee !important;
}

[data-theme="dark"] .modal-content{
  background-color: rgb(0, 0, 0) !important;
}

section{
  display: flex;
  flex-wrap: wrap;
}

div.featured_pictures{
  flex-grow: 1;
  margin: 2px;
  background-color: violet;
  height: 200px;
}

.featured_pictures img{
  height: 200px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  transition: transform .2s;
  border:1px solid #021a40;
}
.featured_pictures img:hover{
  transform: scale(1.5);
}

/* [FULL SCREEN SPINNER] */
#spinner-back, #spinner-front {
  position: fixed;
  /* width: 100vw; */
  transition: all 1s;
  visibility: hidden;
  opacity: 0;
}
#spinner-back {
  z-index: 998;
  /* height: 100vh; */
  background: rgba(0, 0, 0, 0.7);
}
#spinner-front {
  z-index: 999;
  color: #fff;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}
#spinner-back.show, #spinner-front.show {
  visibility: visible;
  opacity: 1;
}

.inactive {
  display: none;
}

.nav-link {
  color: white !important;
  padding: 0;
}

.btn-secondary {
  margin-right: 5px;
}

.navbar-brand {
  font-size: x-large;
  color: #6c757d;
}

.custom-control-label {
  color: #6c757d;
}

#location, #gallery {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
  width: 70%;
  color: #6c757d;
}

#date {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: small;
  font-weight: 800;
  width: 70%;
  color: #000000;
}

.row {
  width: 80%;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card img{
  -webkit-transition:all .3s ease; 
  -moz-transition:all .3s ease; 
  -o-transition:all .3s ease;
  -ms-transition:all .3s ease;
}

.card:hover img{
  opacity: 1;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}

#weatherinfo p {
  /* other styles goes here... */
  display: inline-block;
  vertical-align: top;
}

#imgGrid {
  width: 80%;
  margin: 50px auto;
  padding: 0;
}

#imgGrid img {
  border-radius: 5px;
  border: none;
}

.sticky-bottom {
  position: relative;
  width: 100%;
  margin: 73px 0 0 0;
}

#copyright_google {
  height: 20px;
}

@media only screen and (max-width: 1200px) {
  .row {
    width: 100%;
  }
  h4 {
    font-size: 1.2rem;
  }
}


/* comparision */

#comparision-items {
  padding: 10px;
  border: 1px solid #aaaaaa;
}